[Desktop Entry]
Encoding=UTF-8
Name=Link to reproduction.m
Type=Link
URL=imap://petrosilius%40posteo%2Ede@posteo.de:143/fetch%3EUID%3E.INBOX%3E379?part=1.2&filename=reproduction.m
Icon=text-html
